<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <meta name="keywords" content="keywords,keywords"> -->
	<meta name="description" content="智慧航安資訊平臺系統 Backend System">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="../img/backend_img/favicon.png"> <!-- 我的最愛圖示 -->
	<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.validate.js"></script><!-- 表單驗證 -->
	<script type="text/javascript" src="../js/jquery.metadata.js"></script><!-- 用來判斷表單驗證的長度或數字的JS -->
	<script type="text/javascript" src="../js/messages_zh_TW.js"></script>
	<script type="text/javascript" src="../js/jquery.preload.js"></script>
	<!-- 日期選擇 -->
	<script type="text/javascript" src="../js/datepicker.min.js"></script>
	<script src="../js/i18n/datepicker.zh.js"></script>

	<script type="text/javascript" src="../js/backend.js"></script>


	<!-- 日期選擇樣式 -->
	<link rel="stylesheet" href="../css/datepicker.min.css">
	<link rel="stylesheet" href="../css/backend.css">
	<link rel="stylesheet" href="../css/all.min.css">
	<!--[if IE]>
		<link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/css/font-awesome-ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<title>智慧航安資訊平臺系統 Backend System</title>
</head>

<body>
	<div id="mask" class="mask" style="display:none;"></div>
	<!-- <div class="sidebar-switch">
		<div class="">主項目功能</div>
		<div class="btn-side-close" id="closeNav">
			<i class="fad fa-bars"></i>
			<p>隱藏選單</p>
		</div>
		<div class="btn-side-open" id="openNav">
			<i class="fad fa-bars"></i>
			<p>顯示選單</p>
		</div>
	</div> -->

	<!--{top menu}-->
	<div class="top-menu">
	    <img src="../img/backend_img/side_logo.svg" alt="">
	    <div class="system-name">
	        綜合業務子系統
	    </div>
	    <div class="m-top-menu">
	        <i class="fa fa-plus-circle"></i>
	    </div>
	    <div class="sub-system">
	        <!-- <a href="list.html">綜合業務子系統</a> -->
	        <a href="siitech_index.html">航安監控及航行預警子系統</a>
	        <a href="#">海難應變子系統</a>
	        <a href="#">CBR案例推理庫</a>
	    </div>
	    <div class="user-info">
	        <div class="user-id">
	            Hello,<span>Admin</span>
	        </div>
	        <div class="user-setting">
	            <a href="###">
	                <i class="fad fa-user"></i>
	            </a>
	            <a href="###">
	                <i class="fad fa-cog"></i>
	            </a>
	            <a href="index.html" class="sign-out">
	                <i class="fad fa-sign-out"></i>
	            </a>
	        </div>
	    </div>
	</div>
	
	<div class="btn-side-open" id="openNav">
		<i class="fad fa-bars"></i>
		<p>顯示選單</p>
	</div>
	<div class="side-nav">
		<div class="side-box">
			<div class="sidebar-switch">
				<div class="">主項目功能</div>
				<div class="btn-side-close" id="closeNav">
					<i class="fad fa-bars"></i>
					<p>隱藏選單</p>
				</div>

			</div>

			<div class="nav-box">
				<ul class="nav">
					<li class="nav-item">
						<div class="nav-sub-item">
								<i class="far fa-pen-square"></i> 遇險訊息處理
						</div>
						<div class="sub-nav">
								<a id="MessageReceive" href="http://localhost:61039/Events/Message/Receive">接受訊息</a>
								<a id="MessageRelease" href="http://localhost:61039/Events/Message/Release">發布訊息</a>
								<a id="MessageReleaseRecord" href="http://localhost:61039/Events/Message/ReleaseRecord">發布紀錄</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-pen-square"></i> 異常事件成立
						</div>
						<div class="sub-nav">
							<a href="abnormal_event_add.html">事件成立</a>
							<a href="abnormal_event_list.html">異常事件管理</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-pen-square"></i> 海難事件案件成立
						</div>
						<div class="sub-nav">
							<a id="CreateEvent" href="http://localhost:61039/Events/CreateEvent/Index">案件成立</a>
							<a href="http://localhost:61039/Events/FunctionMap/Index" target="_blank">緊急應變計畫</a>
						</div>
					</li>

					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="fas fa-exclamation-circle"></i> 發生中海難事件
						</div>
						<div class="sub-nav">
							<a id="CurrentEvent" href="http://localhost:61039/Events/CurrentEvent/Index" class="act">海難事件管理</a>
							<a id="SheetVerify" href="http://localhost:61039/Events/SheetVerify/Index">通報單審核管理</a>
						</div>
					</li>

					<li>
						<a id="CheckRecord" href="http://localhost:61039/Events/CheckRecord/Index">
							<i class="far fa-comments"></i> 通報紀錄管理
						</a>
					</li>
					<li>
						<a id="HistoryEvent" href="http://localhost:61039/Events/HistoryEvent/Index">
							<i class="fal fa-folder"></i> 歷史海難事件檔案區
						</a>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="fad fa-american-sign-language-interpreting"></i> 應變資源管理
						</div>
						<div class="sub-nav">
							<a id="RescueSupport" href="http://localhost:61039/Events/RescueSupport/Index">搜尋救援資源</a>
							<a id="RescueCompany" href="http://localhost:61039/Events/RescueCompany/Index">救援單位聯絡資訊</a>
							<a id="RescueShip" href="http://localhost:61039/Events/RescueShip/Index">救援船隻管理</a>
							<a id="RescueEquipmentAndMen" href="http://localhost:61039/Events/RescueEquipmentAndMen/Index">人員設備管理</a>
							<a id="ResourceLocation" href="http://localhost:61039/Events/ResourceLocation/Index">EMIC救援資源位置</a>
							<a id="ResourceDetail" href="http://localhost:61039/Events/ResourceDetail/Index">EMIC救援資源</a>
							<a id="Hospital" href="http://localhost:61039/Events/Hospital/Index">醫療院所</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-pen-square"></i> 擱淺船隻未移除
						</div>
						<div class="sub-nav">
							<a id="StrandedShipCreate" href="http://localhost:61039/Events/StrandedShip/Create">擱淺船隻立案</a>
							<a id="StrandedShipCurrentEvent" href="http://localhost:61039/Events/StrandedShip/CurrentEvent">目前擱淺事件</a>
							<a id="StrandedShipUpdateHistory" href="http://localhost:61039/Events/StrandedShip/UpdateHistory">更新情形</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-cog"></i> 系統參數管理
						</div>
						<div class="sub-nav">
							<a id="ReceiveUnit" href="http://localhost:61039/Events/ReceiveUnit/Index">傳真單位設定</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="side-footer">
				© 2020 交通部航港局
			</div>
		</div>
	</div>
	<!--{template admin_header}-->

<link rel="stylesheet" href="../css/abnormal_sty.css">
<div class="main">
	<h1>異常事件管理</h1>
	<h2>異常事件清單</h2>
	<div class="search-box">
		<form method="get" action="" id="searchForm">
			<div class="search-ui-box">
				<label for="searchDateRange">
					<input type="radio" name="search" id="searchDateRange" value="2">
					<div class="radio-box"></div>
					<span>日期區間搜尋：</span>
				</label>
				<input type="text" name="date" id="dateStart" value="" autocomplete="off" class="input-sty w150 datepicker-here" data-language="zh" />
				至
				<input type="text" name="date" id="dateEnd" value="" autocomplete="off" class="input-sty  w150 datepicker-here" data-language="zh" />
			</div>
			<div class="search-ui-box">
				<label for="status">
					<input type="radio" name="search" id="status" value="4">
					<div class="radio-box"></div>
					<span>事件狀態：</span>
				</label>
				<select type="text" name="search" id="search" value="" class="select-sty w150">
					<option value="">全部</option>
					<option value="">初報</option>
					<option value="">續報</option>
					<option value="">結案</option>
					<option value="">轉海難事件</option>
				</select>
			</div>
			
			<div class="search-ui-box">
				<label for="keyWordInput">
					<input type="radio" name="search" id="keyWordInput" value="1">
					<div class="radio-box"></div>
					<span>關鍵字搜尋：</span>
				</label>
				<input type="text" name="keyWord" id="keyWord" value="" class="input-sty w150" />
			</div>
			
			<div class="btn-area">
				<div class="btn btn-submit" id="Search">
					<i class="fas fa-search"></i>
					搜尋
					<input type="submit">
				</div>
			</div>
		</form>
	</div>
	<div class="search-result-box">
		<div class="search-result">全部事件 : <span>4</span> 件</div>
		<div class="search-result">篩選後事件數 : 共 <span>4</span> 件</div>
	</div>
	<ul class="list">
		<li class="title">
			<div class="group-box-83">
				<div class="box-5 txt-c">項次</div>
				<div class="box-10">異常事件名稱</div>
				<div class="box-30">事件說明</div>
				<div class="box-10">事件狀態</div>
				<div class="box-8">初報人員</div>
				<div class="box-10">最後續報人員</div>
				<div class="box-8">單位</div>
				<div class="box-15">其他備註</div>
			</div>
			<div class="group-box-15 opera txt-r">歷史通報內容</div>
		</li>
		<li>
			<div class="group-box-83" title="編輯" alt="編輯">
				<div class="box-5 txt-c">1</div>
				<div class="box-10">航行異常</div>
				<div class="box-30">偏離固定航行路線且航向飄移不定</div>
				<div class="box-10">續報3</div>
				<div class="box-8">王一二</div>
				<div class="box-10">謝老闆</div>
				<div class="box-8">航港局</div>
				<div class="box-15">AIS回傳訊號速度小於2海浬</div>
			</div>
			<div class="group-box-15 opera txt-r">
				<a href="abnormal_event_continue_add.html" title="新增" alt="新增">
					<i class="fas fa-file-plus"></i> 新增
				</a>
				<a href="abnormal_event_cont_list.html" title="查看/編輯" alt="查看/編輯">
					<i class="fas fa-pencil-alt"></i> 查看/編輯
				</a>
			</div>
		</li>
		<li>
			<div class="group-box-83" title="編輯" alt="編輯">
				<div class="box-5 txt-c">2</div>
				<div class="box-10">疑似擱淺</div>
				<div class="box-30">不是錨定狀態速度卻小於1，持續兩小時</div>
				<div class="box-10">轉海難事件</div>
				<div class="box-8">黑琦</div>
				<div class="box-10">黃琦</div>
				<div class="box-8">航港局</div>
				<div class="box-15">透過監控預警系統警報察覺異常</div>
			</div>
			<div class="group-box-15 opera txt-r">
				<a href="abnormal_event_cont_list.html" title="查看" alt="查看">
					<i class="fas fa-pencil-alt"></i> 查看/編輯
				</a>
			</div>
		</li>
		<li>
			<div class="group-box-83" title="編輯" alt="編輯">
				<div class="box-5 txt-c">3</div>
				<div class="box-10">航行異常</div>
				<div class="box-30">偏離固定航行路線且航向飄移不定</div>
				<div class="box-10">續報3</div>
				<div class="box-8">王一二</div>
				<div class="box-10">謝老闆</div>
				<div class="box-8">航港局</div>
				<div class="box-15">AIS回傳訊號速度小於2海浬</div>
			</div>
			<div class="group-box-15 opera txt-r">
				<a href="abnormal_event_continue_add.html" title="新增" alt="新增">
					<i class="fas fa-file-plus"></i> 新增
				</a>
				<a href="abnormal_event_cont_list.html" title="查看/編輯" alt="查看/編輯">
					<i class="fas fa-pencil-alt"></i> 查看/編輯
				</a>
			</div>
		</li>
		<li>
			<div class="group-box-83" title="編輯" alt="編輯">
				<div class="box-5 txt-c">4</div>
				<div class="box-10">航行異常</div>
				<div class="box-30">偏離固定航行路線且航向飄移不定</div>
				<div class="box-10">續報3</div>
				<div class="box-8">王一二</div>
				<div class="box-10">謝老闆</div>
				<div class="box-8">航港局</div>
				<div class="box-15">AIS回傳訊號速度小於2海浬</div>
			</div>
			<div class="group-box-15 opera txt-r">
				<a href="abnormal_event_continue_add.html" title="新增" alt="新增">
					<i class="fas fa-file-plus"></i> 新增
				</a>
				<a href="abnormal_event_cont_list.html" title="查看/編輯" alt="查看/編輯">
					<i class="fas fa-pencil-alt"></i> 查看/編輯
				</a>
			</div>
		</li>
		<li>
			<div class="group-box-83" title="編輯" alt="編輯">
				<div class="box-5 txt-c">5</div>
				<div class="box-10">航行異常</div>
				<div class="box-30">偏離固定航行路線且航向飄移不定</div>
				<div class="box-10">結案</div>
				<div class="box-8">王一二</div>
				<div class="box-10">謝老闆</div>
				<div class="box-8">航港局</div>
				<div class="box-15">AIS回傳訊號速度小於2海浬</div>
			</div>
			<div class="group-box-15 opera txt-r">
				<a href="abnormal_event_cont_list.html" title="查看" alt="查看">
					<i class="fas fa-pencil-alt"></i> 查看/編輯
				</a>
			</div>
		</li>
	</ul>
	            <div class="pagination">
	                <div class="pagination-numbers">
	                    <a href="#" title="第一頁">
	                        <i class="fas fa-arrow-to-left"></i>
	                    </a>
	                    <a href="#" title="上一頁">
	                        <i class="fas fa-arrow-left"></i>
	                    </a>
	                    <a href="#">1</a>
	                    <a href="#">2</a>
	                    <a href="#" title="" class="act">3</a>
	                    <a href="#">4</a>
	                    <a href="#">5</a>
	                    <a href="#" title="下一頁">
	                        <i class="fas fa-arrow-right"></i>
	                    </a>
	                    <a href="#" title="最後頁">
	                        <i class="fas fa-arrow-to-right"></i>
	                    </a>
	                </div>
	            </div>

</div>
