<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <meta name="keywords" content="keywords,keywords"> -->
	<meta name="description" content="智慧航安資訊平臺系統 Backend System">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="../img/backend_img/favicon.png"> <!-- 我的最愛圖示 -->
	<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery.validate.js"></script><!-- 表單驗證 -->
	<script type="text/javascript" src="../js/jquery.metadata.js"></script><!-- 用來判斷表單驗證的長度或數字的JS -->
	<script type="text/javascript" src="../js/messages_zh_TW.js"></script>
	<script type="text/javascript" src="../js/jquery.preload.js"></script>
	<!-- 日期選擇 -->
	<script type="text/javascript" src="../js/datepicker.min.js"></script>
	<script src="../js/i18n/datepicker.zh.js"></script>

	<script type="text/javascript" src="../js/backend.js"></script>


	<!-- 日期選擇樣式 -->
	<link rel="stylesheet" href="../css/datepicker.min.css">
	<link rel="stylesheet" href="../css/backend.css">
	<link rel="stylesheet" href="../css/all.min.css">
	<!--[if IE]>
		<link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/css/font-awesome-ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<title>智慧航安資訊平臺系統 Backend System</title>
</head>

<body>
	<div id="mask" class="mask" style="display:none;"></div>
	<!-- <div class="sidebar-switch">
		<div class="">主項目功能</div>
		<div class="btn-side-close" id="closeNav">
			<i class="fad fa-bars"></i>
			<p>隱藏選單</p>
		</div>
		<div class="btn-side-open" id="openNav">
			<i class="fad fa-bars"></i>
			<p>顯示選單</p>
		</div>
	</div> -->

	<!--{top menu}-->
	<div class="top-menu">
	    <img src="../img/backend_img/side_logo.svg" alt="">
	    <div class="system-name">
	        綜合業務子系統
	    </div>
	    <div class="m-top-menu">
	        <i class="fa fa-plus-circle"></i>
	    </div>
	    <div class="sub-system">
	        <!-- <a href="list.html">綜合業務子系統</a> -->
	        <a href="siitech_index.html">航安監控及航行預警子系統</a>
	        <a href="#">海難應變子系統</a>
	        <a href="#">CBR案例推理庫</a>
	    </div>
	    <div class="user-info">
	        <div class="user-id">
	            Hello,<span>Admin</span>
	        </div>
	        <div class="user-setting">
	            <a href="###">
	                <i class="fad fa-user"></i>
	            </a>
	            <a href="###">
	                <i class="fad fa-cog"></i>
	            </a>
	            <a href="index.html" class="sign-out">
	                <i class="fad fa-sign-out"></i>
	            </a>
	        </div>
	    </div>
	</div>
	
	<div class="btn-side-open" id="openNav">
		<i class="fad fa-bars"></i>
		<p>顯示選單</p>
	</div>
	<div class="side-nav">
		<div class="side-box">
			<div class="sidebar-switch">
				<div class="">主項目功能</div>
				<div class="btn-side-close" id="closeNav">
					<i class="fad fa-bars"></i>
					<p>隱藏選單</p>
				</div>

			</div>

			<div class="nav-box">
				<ul class="nav">
					<li class="nav-item">
						<div class="nav-sub-item">
								<i class="far fa-pen-square"></i> 遇險訊息處理
						</div>
						<div class="sub-nav">
								<a id="MessageReceive" href="http://localhost:61039/Events/Message/Receive">接受訊息</a>
								<a id="MessageRelease" href="http://localhost:61039/Events/Message/Release">發布訊息</a>
								<a id="MessageReleaseRecord" href="http://localhost:61039/Events/Message/ReleaseRecord">發布紀錄</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-pen-square"></i> 異常事件成立
						</div>
						<div class="sub-nav">
							<a href="abnormal_event_add.html">事件成立</a>
							<a href="abnormal_event_list.html">異常事件管理</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-pen-square"></i> 海難事件案件成立
						</div>
						<div class="sub-nav">
							<a id="CreateEvent" href="http://localhost:61039/Events/CreateEvent/Index">案件成立</a>
							<a href="http://localhost:61039/Events/FunctionMap/Index" target="_blank">緊急應變計畫</a>
						</div>
					</li>

					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="fas fa-exclamation-circle"></i> 發生中海難事件
						</div>
						<div class="sub-nav">
							<a id="CurrentEvent" href="http://localhost:61039/Events/CurrentEvent/Index" class="act">海難事件管理</a>
							<a id="SheetVerify" href="http://localhost:61039/Events/SheetVerify/Index">通報單審核管理</a>
						</div>
					</li>

					<li>
						<a id="CheckRecord" href="http://localhost:61039/Events/CheckRecord/Index">
							<i class="far fa-comments"></i> 通報紀錄管理
						</a>
					</li>
					<li>
						<a id="HistoryEvent" href="http://localhost:61039/Events/HistoryEvent/Index">
							<i class="fal fa-folder"></i> 歷史海難事件檔案區
						</a>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="fad fa-american-sign-language-interpreting"></i> 應變資源管理
						</div>
						<div class="sub-nav">
							<a id="RescueSupport" href="http://localhost:61039/Events/RescueSupport/Index">搜尋救援資源</a>
							<a id="RescueCompany" href="http://localhost:61039/Events/RescueCompany/Index">救援單位聯絡資訊</a>
							<a id="RescueShip" href="http://localhost:61039/Events/RescueShip/Index">救援船隻管理</a>
							<a id="RescueEquipmentAndMen" href="http://localhost:61039/Events/RescueEquipmentAndMen/Index">人員設備管理</a>
							<a id="ResourceLocation" href="http://localhost:61039/Events/ResourceLocation/Index">EMIC救援資源位置</a>
							<a id="ResourceDetail" href="http://localhost:61039/Events/ResourceDetail/Index">EMIC救援資源</a>
							<a id="Hospital" href="http://localhost:61039/Events/Hospital/Index">醫療院所</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-pen-square"></i> 擱淺船隻未移除
						</div>
						<div class="sub-nav">
							<a id="StrandedShipCreate" href="http://localhost:61039/Events/StrandedShip/Create">擱淺船隻立案</a>
							<a id="StrandedShipCurrentEvent" href="http://localhost:61039/Events/StrandedShip/CurrentEvent">目前擱淺事件</a>
							<a id="StrandedShipUpdateHistory" href="http://localhost:61039/Events/StrandedShip/UpdateHistory">更新情形</a>
						</div>
					</li>
					<li class="nav-item">
						<div class="nav-sub-item">
							<i class="far fa-cog"></i> 系統參數管理
						</div>
						<div class="sub-nav">
							<a id="ReceiveUnit" href="http://localhost:61039/Events/ReceiveUnit/Index">傳真單位設定</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="side-footer">
				© 2020 交通部航港局
			</div>
		</div>
	</div>
	<!--{template admin_header}-->

<link rel="stylesheet" href="../css/abnormal_sty.css">
<div class="main">
	<h1>異常事件管理</h1>
	<h2>異常事件歷史紀錄查看</h2>

	<div class="input-box input-box-w inline-group first-group">
		<label for="">建立時間</label>
		<div class="inline-group-cont">
			<div class="inline-item">
				<div class="cont-view">2021/05/22 12:55</div>
			</div>
		</div>
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">建立人員</label>
		<div class="inline-group-cont">
			<div class="inline-item">
				<h4>單位：</h4>
				<p>交通部航港局</p>
			</div>
			<div class="inline-item">
				<h4>姓名：</h4>
				<p>王一二</p>
			</div>
			<div class="inline-item">
				<h4>職稱：</h4>
				<p>技正</p>
			</div>
			<div class="inline-item">
				<h4>電話：</h4>
				<p>(02)89780083</p>
			</div>
			<div class="inline-item">
				<h4>傳真：</h4>
				<p>(02)23253442</p>
			</div>
		</div>
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">通知對象</label>
		<div class="inline-group-cont">
			<div class="cont-view">海事中心、彰化離岸風場VTS、國搜中心</div>
		</div>
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">訊息主旨</label>
		<div class="inline-group-cont">
			<div class="cont-view">異常案件續報2</div>
		</div>
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">發生時間</label>
		<div class="inline-group-cont icon-right">
			<div class="cont-view">07/05, 2021</div>
		</div>
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">發生地點</label>
		<div class="inline-group-cont">
			<div class="cont-view">高雄港口,錨地附近</div>
			<div class="inline-sub-box">
				<h4>座標經度：</h4>
				<div class="cont-view">25°02.171'N(25.036179)</div>
			</div>
			<div class="inline-sub-box">
				<h4>座標緯度：</h4>
				<div class="cont-view">119°58.188'E(119.969818)</div>
			</div>
		</div>
		
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">異常船舶</label>
		<div class="inline-group-cont">
			<div class="cont-view">恆星客船</div>
			<div class="inline-sub-box">
				<h4>MMSI：</h4>
				<div class="cont-view">416123456</div>
			</div>
			<div class="inline-sub-box">
				<h4>船舶號數：</h4>
				<div class="cont-view">023456</div>
			</div>
		</div>
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">事件說明</label>
		<div class="inline-group-cont">
			<div class="cont-view">偏離固定航行路線且航向飄移不定</div>
		</div>
	</div>
	<div class="input-box input-box-w inline-group">
		<label for="">其他備註</label>
		<div class="inline-group-cont">
			<div class="cont-view">AIS回傳訊號速度小於2海浬</div>
		</div>
	</div>
	<!-- <div class="input-box input-box-w inline-group">
		<label for="">事件處理狀態</label>
		<div class="inline-group-cont status-btn">
			<div class="btn btn-cancel">
				<input type="radio" name="status" checked>
				<i class="fas fa-square"></i>
				<div class="status-act"></div>
				<span>事件續報</span>
			</div>
		</div>
	</div> -->

	<div class="btn-area">
		<a href="abnormal_event_cont_list.html" class="btn btn-cancel">
			<i class="fa fa-chevron-left"></i> 返回
		</a>
	</div>
	


</div>
